Checks: >
  cppcoreguidelines-*,
  # clang-analyzer-*, 
  # modernize-*, 
  # performance-*, 
  readability-*,
  -readability-uppercase-literal-suffix,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -readability-identifier-length,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-pro-type-union-access,
  # misc-include-cleaner
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'

