*.vcxproj.user
.vs
/backends/build
/build
/editor/build
/editor/editor.json
/example/build
/lib/win/x64
/out
/project/vs/backends/Debug
/project/vs/backends/Intermediate
/project/vs/backends/Release
/project/vs/editor/Debug
/project/vs/editor/Intermediate
/project/vs/editor/Release
/project/vs/example/Debug
/project/vs/example/Intermediate
/project/vs/example/Release
/project/vs/moth_ui.props
/project/vs/moth_ui/Debug
/project/vs/moth_ui/Intermediate
/project/vs/moth_ui/Release
/project/vs/moth_ui_tests/Debug
/project/vs/moth_ui_tests/Intermediate
/tests/build
CMakeUserPresets.json
.venv/
editor/.venv/
