/build
/backends/build
/editor/build
/example/build
/tests/build
.vs
/out
/project/vs/backends/Debug
/project/vs/backends/Release
/project/vs/backends/Intermediate
/project/vs/editor/Debug
/project/vs/editor/Release
/project/vs/editor/Intermediate
/project/vs/example/Debug
/project/vs/example/Release
/project/vs/example/Intermediate
/project/vs/moth_ui/Debug
/project/vs/moth_ui/Release
/project/vs/moth_ui/Intermediate
/project/vs/moth_ui_tests/Debug
/project/vs/moth_ui_tests/Intermediate
*.vcxproj.user
/lib/win/x64
/editor/editor.json
CMakeUserPresets.json