/build
/editor/build
/tests/build
.vs
/out
/project/vs/editor/Debug
/project/vs/editor/Intermediate
/project/vs/moth_ui/Debug
/project/vs/moth_ui/Intermediate
/project/vs/moth_ui_tests/Debug
/project/vs/moth_ui_tests/Intermediate
*.vcxproj.user
imgui.ini
/lib/win/x64
/project/vs/editor/Release
/editor/editor.json
CMakeUserPresets.json