name: Build Editor Windows

on:
  workflow_dispatch:
  push:
  pull_request:
    branches: [ main ]
    
env:
  BUILD_TYPE: Release

jobs:
  build-editor-win:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    
    - name: Get Conan
      uses: turtlebrowser/get-conan@v1.0
      
    - name: Create default profile
      run: conan profile detect --force

    - name: Create build dir
      run: mkdir -p ${{github.workspace}}/editor/build

    - name: Install dependencies
      working-directory: ${{github.workspace}}/editor/build
      run: conan install -s compiler.cppstd=17 .. --output-folder=. --build=missing

    - name: Configure CMake
      working-directory: ${{github.workspace}}/editor/build
      run: cmake .. -DCMAKE_TOOLCHAIN_FILE=${{github.workspace}}/editor/build/conan_toolchain.cmake -DCMAKE_POLICY_DEFAULT_CMP0091=NEW

    - name: Build
      working-directory: ${{github.workspace}}/editor/build
      run: cmake --build . --config ${{env.BUILD_TYPE}} -j
