name: Build Lib Linux

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]

env:
  BUILD_TYPE: Release

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Get Conan
      uses: turtlebrowser/get-conan@v1.0
      
    - name: Conan setup and install dependencies
      run: |
        conan profile detect --force
        conan config install conan_config
        conan install . --build=missing --profile linux_profile
        conan install . --build=missing --profile linux_profile -s build_type=Debug
        source ./build/${{env.BUILD_TYPE}}/generators/conanbuild.sh

    - name: Configure CMake
      run: cmake --preset conan-default

    - name: Build Release
      run: cmake --build --preset conan-release -j

    - name: Build Debug
      run: cmake --build --preset conan-debug -j
      