name: Build Editor Linux

on:
  workflow_dispatch:
  push:
  pull_request:
    branches: [ main ]

env:
  BUILD_TYPE: Release

jobs:
  build-editor-linux:
    runs-on: ubuntu-latest
    steps:
    - name: Install dependencies
      run: |
        sudo apt-get install -y \
          libx11-dev \
          libx11-xcb-dev \
          libfontenc-dev \
          libice-dev \
          libsm-dev \
          libxau-dev \
          libxaw7-dev \
          libegl-dev \
          libegl1-mesa-dev

    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Get Conan
      uses: turtlebrowser/get-conan@v1.0

    - name: Create default profile
      run: conan profile detect --force

    - name: Create build dir
      run: mkdir -p ${{github.workspace}}/editor/build

    - name: Install dependencies
      working-directory: ${{github.workspace}}/editor/build
      run: conan install .. -s compiler=clang -s compiler.version=14 -s compiler.cppstd=17 --output-folder=. --build=missing

    - name: Configure CMake
      working-directory: ${{github.workspace}}/editor/build
      run:  cmake .. -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DCMAKE_TOOLCHAIN_FILE=${{github.workspace}}/editor/build/conan_toolchain.cmake -DCMAKE_POLICY_DEFAULT_CMP0091=NEW -DCMAKE_CXX_COMPILER=clang

    - name: Build
      working-directory: ${{github.workspace}}/editor/build
      run: cmake --build . --config ${{env.BUILD_TYPE}}
      
