name: Build Editor Windows

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]
    
env:
  BUILD_TYPE: Release

jobs:
  build-editor-win:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    
    - name: Get Conan
      uses: turtlebrowser/get-conan@v1.0
      
    - name: Create default profile
      run: conan profile detect --force

    - name: Install conan profiles
      run: conan config install conan_config

    - name: Install dependencies
      working-directory: ${{github.workspace}}/editor
      run: conan install . --build=missing --profile windows_profile

    - name: Setup Environment
      working-directory: ${{github.workspace}}/editor
      run: ./generators/conanbuild.bat

    - name: Configure CMake
      working-directory: ${{github.workspace}}/editor
      run: cmake --preset conan-default

    - name: Build
      working-directory: ${{github.workspace}}/editor
      run: cmake --build build --config ${{env.BUILD_TYPE}} -j 4
