name: Build Lib Linux

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]

env:
  BUILD_TYPE: Release

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Get Conan
      uses: turtlebrowser/get-conan@v1.0
      
    - name: Create default profile
      run: conan profile detect --force

    - name: Install conan profiles
      run: conan config install conan_config

    - name: Install dependencies
      working-directory: ${{github.workspace}}
      run: conan install . --build=missing --profile linux_profile

    - name: Setup Environment
      working-directory: ${{github.workspace}}
      run: source ./build/${{env.BUILD_TYPE}}/generators/conanbuild.sh

    - name: Configure CMake
      working-directory: ${{github.workspace}}
      run: cmake --preset conan-release

    - name: Build
      working-directory: ${{github.workspace}}
      run: cmake --build build --config ${{env.BUILD_TYPE}} -j 4
      
