name: Build Editor Linux

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]

jobs:
  build-editor-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Install GTK
      run: sudo apt-get update; sudo apt-get install libgtk-3-dev

    - name: Get Conan
      uses: turtlebrowser/get-conan@v1.0

    - name: Conan setup and install dependencies
      working-directory: ${{github.workspace}}/editor
      run: |
        conan profile detect --force
        conan config install ../conan_config
        conan remote add artifactory http://artifacts.matthewcotton.net/artifactory/api/conan/conan-local
        conan remote login artifactory ci -p ${{ secrets.ARTIFACTS_TOKEN }}
        conan install . --build=missing --profile linux_profile
        conan install . --build=missing --profile linux_profile -s build_type=Debug
        source ./build/Release/generators/conanbuild.sh

    - name: Configure CMake for release
      working-directory: ${{github.workspace}}/editor
      run:  cmake --preset conan-release

    - name: Build Release
      working-directory: ${{github.workspace}}/editor
      run: cmake --build --preset conan-release -j

    - name: Configure CMake Debug
      working-directory: ${{github.workspace}}/editor
      run:  cmake --preset conan-debug

    - name: Build Debug
      working-directory: ${{github.workspace}}/editor
      run: cmake --build --preset conan-debug -j
      
