name: Build Lib Windows

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]
    
env:
  BUILD_TYPE: Release

jobs:
  build-win:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Get Conan
      uses: turtlebrowser/get-conan@v1.0

    - name: Conan setup and install dependencies
      run: |
        conan profile detect --force
        conan config install conan_config
        conan install . --build=missing --profile windows_profile
        conan install . --build=missing --profile windows_profile -s build_type=Debug
        ./build/generators/conanbuild.bat
      
    - name: Configure CMake
      working-directory: ${{github.workspace}}
      run: cmake --preset conan-default

    - name: Build Release
      working-directory: ${{github.workspace}}
      run: cmake --build --preset conan-release -j

    - name: Build Debug
      working-directory: ${{github.workspace}}
      run: cmake --build --preset conan-debug -j
